body {
    font: 400 15px/1.8 'Source Sans Pro', sans-serif;
    padding-top: 70px;
}

/* Navigation bar */
.logo {
    max-height: 2em;
    padding-right: .5em;
    margin-top: -.45em;
}

.navbar {
    font-family: 'Droid Sans', sans-serif, Trebuchet, Veranda, Geneva;
    background-color: #101010;
    margin-bottom: 20px;
}

.navbar li a,
.navbar .navbar-brand {
    color: #d5d5d5 !important;
}

.navbar li a:hover {
    color: #fff !important;
    background-color: #494950 !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}

button.navbar-toggle,
button.navbar-toggle.collapsed,
.navbar-default,
.navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #101010; !important;
    border: hidden #101010; !important;
}

.open > .dropdown-toggle {
    color: #fff !important;
    background-color: #494950 !important;
}

.dropdown-menu {
    color: #fff !important;
    background-color: #29292c !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 1px solid #101010;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #101010;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #494950;
}

/* Project sections */
.project-category img {
    float: left;
    margin-right: 5px;
    max-height: 40px;
}

.project-category h1 {
    position: relative;
}

.project-image {
    max-height: 400px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.spacer {
    margin-top: 100px;
}

.anchor {
    display: block;
    height: 70px;
    margin-top: -70px;
    visibility: hidden;
}

/* Code */
.blob-code {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: top;
}

.blob-code-inner {
    overflow: visible;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    color: #333;
    word-wrap: normal;
    white-space: pre
}

.pl-k {
    color: #a71d5d
}

.pl-en {
    color:#795da3
}

.pl-c1 {
    color:#0086b3
}

.pl-s {
    color:#183691
}

.pl-smi {
    color:#333
}

.pl-pds {
    color:#183691
}

.pl-v {
    color:#ed6a43
}

.github-container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 40vh;
}

/* Footer */
footer {
    margin-top: 50px;
}