<link rel="stylesheet" href="../styles/home.css">

<div class="mdl-layout__tab-panel is-active">
  <section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-cell--9-col-desktop">
    <header class="profile-card-image__filename mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color-text--white"></header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__supporting-text">
        <h1>Nathan Reline</h1>
        <h3>Android Developer</h3>
      </div>
    </div>
  </section>
</div>
