.mdl-layout__header > h2 {
    /*margin-left: 1em;*/
}

.mdl-layout__header-row {
    padding-right: 0;
}

.android-peeking {
    max-height: 3em;
    float: right;
}

.drawer-img {
    max-height: 2em;
    margin-right: 1em;
}

.connect {
    font-weight: bold;
}

.footer-img {
    max-height: 2em;
}